#top_list_button{
		display: none;
		width: 32px;
		height: 32px;
		float: right;
		background: url(../img/icon-heading.png) no-repeat;
		background-position: 0 0;
		cursor: pointer;
		margin-top: 14px;
		margin-right: 32px;
	}
	#mask{
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba(0,0,0,0);
		z-index: -1;
	}
	#top_nav{
		transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		width: 270px;
		height: 100%;
		overflow: hidden;
		position: fixed;
		left: -270px;
		top: 0;
		display: none;
		z-index: 4;
	}
	#top_nav_content{
		width: 100%;
		height: 100%;
	}
	#top_nav_top{
		display: block;
		position: relative;
		height: 26%;
		box-sizing: border-box;
		padding:5% 8% 5% 5%;
		background: url(../img/cehuabeijing.png) no-repeat;
		background-position: 0% 0%;
		background-size: cover;
	}
	#top_nav_top div:first-child{
		border-radius: 100%;
		border: solid 2px #ffffff;
		overflow: hidden;
		width: 20%;
	}
	#top_nav_top div:first-child img{
		float: left;
		width: 100%;
		height: auto;
	}
	#top_nav_top div:last-child{
		position: absolute;
		bottom: 5%;
		right: 8%;
	}
	#top_nav_top div:last-child a{
		color: #ffffff;
		font-size: 1em;
		text-decoration: none;
		font-family: "微软雅黑";
	}
	#top_nav_top div:last-child span{
		color: #ffffff;
		font-size: 1em;
		font-family: "微软雅黑";
	}
	#top_nav_content #top_nav_left{
		box-sizing: border-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-box;
		width: 100%;
		height: 74%;
		-moz-box-orient: vertical;
		-webkit-box-orient: vertical;
		
	}
	#top_nav_content #top_nav_left a{
		position: relative;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-box;
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
		-moz-box-flex: 1;
		-webkit-box-flex: 1;
		padding: 0% 8% 0% 5%;
		background-color: rgb(0,145,215);
		font-size: 1em;
		color: #ffffff;
		box-sizing: border-box;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 8% 50%;
		background-size: auto 50%;
		border-top: solid 1px rgb(94,185,231);
		transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
	#nav_weizixun{
		background-image: url(../img/nav_1_left.png);
	}
	#nav_weizixun:hover{
		background-image: url(../img/nav_1_right.png);
	}
	#nav_weishenghuo{
		background-image: url(../img/nav_2_left.png);
	}
	#nav_weishenghuo:hover{
		background-image: url(../img/nav_2_right.png);
	}
	#nav_weifangtan{
		background-image: url(../img/nav_3_left.png);
	}
	#nav_weifangtan:hover{
		background-image: url(../img/nav_3_right.png);
	}
	#nav_weidianying{
		background-image: url(../img/nav_4_left.png);
	}
	#nav_weidianying:hover{
		background-image: url(../img/nav_4_right.png);
	}
	#nav_weiketang{
		background-image: url(../img/nav_5_left.png);
	}
	#nav_weiketang:hover{
		background-image: url(../img/nav_5_right.png);
	}
	#nav_shengyadaohang{
		background-image: url(../img/nav_6_left.png);
	}
	#nav_shengyadaohang:hover{
		background-image: url(../img/nav_6_right.png);
	}
	#nav_weizhuanti{
		background-image: url(../img/nav_7_left.png);
	}
	#nav_weizhuanti:hover{
		background-image: url(../img/nav_7_right.png);
	}
	#nav_weifenxiang{
		background-image: url(../img/nav_8_left.png);
	}
	#nav_weifenxiang:hover{
		background-image: url(../img/nav_8_right.png);
	}
	#nav_sucaiku{
		background-image: url(../img/nav_9_left.png);
	}
	#nav_sucaiku:hover{
		background-image: url(../img/nav_9_right.png);
	}
	#top_nav_content #top_nav_left a:first-child{
		border-top: none;
	}
	#top_nav_content #top_nav_left a span{
		box-sizing: border-box;
		width: 95%;
		padding-left: 25%;
		padding-right: 8%;
		position: absolute;
		display: inline;
		top: 50%;
		transform: translateY(-50%);
	}
	#top_nav_content #top_nav_left a span span{
		display: inline;
		width: auto;
		padding: 0;
		top: 50%;
		transform: translateY(-50%);
		right: 8%;
	}
	#top_nav_content #top_nav_left a:hover{
		background-color: rgb(0,86,135);
	}
	#top_nav_content #top_nav_right{
		display: none;
	}
	


@media (max-width: 1024px) {
	#top_list_button{display: block;}
	#top_nav{
		display: block;
	}
}